body {
    background-color: rgb(145, 145, 225);
    text-align: center;
    
}
#rojito {
    border-radius: 50%;
    width: 30px;
    text-align: center;
    height: 30px;
    border-style: solid;
}
#fotoarenosa {
    border: solid 3px red ;
    width: fit-content;
    margin: 0 auto;
}
#camarenosa {
    margin: 0 auto;
}